// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * SolidRun LX2160ACEX7 device tree source
 *
 * Author:	Rabeeh Khoury <rabeeh@solid-run.com>
 *
 * Copyright 2021 SolidRun ltd.
 *
 */

#include "fsl-lx2160a.dtsi"

/ {
	model = "SolidRun LX2162A based System On Module";
	compatible = "fsl,lx2160asom", "fsl,lx2160a";

	aliases {
		spi0 = &fspi;
	};
};

&dpmac17 {
	status = "okay";
	phy-handle = <&rgmii_phy1>;
	phy-connection-type = "rgmii-id";
};

&emdio1 {
	status = "okay";

	cortina_phy: ethernet-phy@0 {
		reg = <0x0>;
	};

	rgmii_phy1: ethernet-phy@1 {
		/* AR8035 PHY - "compatible" property not strictly needed */
		compatible = "ethernet-phy-id004d.d072";
		reg = <0x1>;
		/* Poll mode - no "interrupts" property defined */
	};
};

&fspi {
	bus-num = <0>;
	status = "okay";

	qflash0: MT35XU512ABA1G12@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <50000000>;
		reg = <0>;
		/* The following setting enables 1-1-8 (CMD-ADDR-DATA) mode */
		fspi-rx-bus-width = <8>; /* 8 FSPI Rx lines */
		fspi-tx-bus-width = <1>; /* 1 FSPI Tx line */
	};

};

&esdhc0 {
	status = "okay";
};

&esdhc1 {
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	u-boot,dm-pre-reloc;
	m24c02@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
	};
};

&i2c2 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&i2c5 {
	status = "okay";
	rtc@6f {
		compatible = "microchip,mcp7941x";
		reg = <0x6f>;
	};
};
